@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  overflow: hidden;
  background: #1a1a24;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body::before {
  --line: color-mix(in lch, #4169e1 25%, transparent);
  --size: 60px;
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 2px,
        transparent 2px var(--size)
      )
      0 -5vmin / var(--size) var(--size),
    linear-gradient(var(--line) 2px, transparent 2px var(--size)) 0 -5vmin / var(
        --size
      ) var(--size);
  mask: linear-gradient(-15deg, transparent 33%, #4169e1);
  top: 0;
  z-index: -1;
}

button {
  width: 120px;
  height: 60px;
  background-color: #1a1a24;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: 3px solid transparent;
  transition: transform 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}

button:hover {
  background-color: #2f2f39;
  transform: scale(1.25);
  border-color: rgba(54, 57, 62, 0.125);
}

.slider {
  opacity: 75%;
  background: #1a1a24;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(26, 26, 36, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  opacity: 75%;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  opacity: 75%;
  height: 100px;
  width: 250px;
}

.disc-btn {
  border-color: #5865f2;
}

.disc-img {
  height: 52px;
  width: 52px;
}

.app-btn {
  border-color: #4da0d8;
}

.app-img {
  height: 45px;
  width: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
